<!DOCTYPE html>
<html>
<head>
  <title>Fashion Hub</title>
  <script src="/script.js" defer></script>
</head>
<body>
  <h1>Fashion Items</h1>

  <% for(let i = 0; i < items.length; i++) { %>
    <div class="card">
     
      <button onclick="deleteItem('<%= items[i]._id %>')">Delete</button>
    </div>
  <% } %>

  <form>
  <label>name</label>
  <input type="text" name="name" required />

  <label>image</label>
  <input type="text" name="image" />

  <label>category</label>
  <input type="text" name="category" />

  <label>price</label>
  <input type="number" name="price" required />

  <label>purchaseLink</label>
  <input type="text" name="purchaseLink" required />

  <label>size</label>
  <input type="text" name="size" required />

  <button type="submit">Submit</button>
</form>

</body>
</html>


